<!DOCTYPE html>
<html>
    <head>
        <title>Cards</title>
        <style type="text/css">
         @page {
             size: A4;
         }
         html, body {
             padding: 0;
             margin: 0;
             height: 100%;
             width: 100%;
             
         }
         .card {
             display: inline-block;
             border: 4px solid black;
             width: 45%;
             margin: 0%;
             padding: 1%;
             text-align: center;
         }
         .instructions {
             text-align: left;
             font-size: x-small;
         }

        </style>
    </head>

    <body>
        {% for card in cardList %}
        <div class="card">
          <br/>
            <b>{{ card[0] }}</b><br/>
            {{ card[3] }} sheets<br/><br/>
            <div class="instructions">
                To Redeem:
                <ol>
                    <li>Visit https://paper.collegiumv.org/.</li>
                    <li>Log in with your CollegiumV credentials.</li>
                    <li>Select <em>Redeem Card</em> from the menu on the left.</li>
                    <li>Enter your card number into the text field.</li>
                </ol>
            </div>
        </div>
        {% endfor %}
    </body>

</html> 
